<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^memorix\.hiqer\.top$" />
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://memorix.hiqer.top/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Memorix root preview" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="preview/preview.html" />
        </rule>
        <rule name="Memorix preview shortcut" stopProcessing="true">
          <match url="^preview/?$" />
          <action type="Redirect" url="/preview/preview.html" redirectType="Found" />
        </rule>

        <rule name="Memorix static release files" stopProcessing="true">
          <match url="^(preview|downloads|desktop-updates)(/.*)?$" />
          <action type="None" />
        </rule>

        <rule name="Memorix API" stopProcessing="true">
          <match url="^api/(.*)$" />
          <action type="Rewrite"
                  url="http://127.0.0.1:9101/api/{R:1}"
                  appendQueryString="true" />
        </rule>

        <rule name="Memorix API root" stopProcessing="true">
          <match url="^api/?$" />
          <action type="Rewrite"
                  url="http://127.0.0.1:9101/api/"
                  appendQueryString="true" />
        </rule>

        <rule name="Memorix Swagger" stopProcessing="true">
          <match url="^swagger/(.*)$" />
          <action type="Rewrite"
                  url="http://127.0.0.1:9101/swagger/{R:1}"
                  appendQueryString="true" />
        </rule>

        <rule name="Memorix Swagger root" stopProcessing="true">
          <match url="^swagger/?$" />
          <action type="Rewrite"
                  url="http://127.0.0.1:9101/swagger/"
                  appendQueryString="true" />
        </rule>

        <rule name="Memorix health endpoints" stopProcessing="true">
          <match url="^health(/.*)?$" />
          <action type="Rewrite"
                  url="http://127.0.0.1:9101/health{R:1}"
                  appendQueryString="true" />
        </rule>

        <rule name="Memorix cloud web" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite"
                  url="http://127.0.0.1:3100/{R:1}"
                  appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".dmg" />
      <mimeMap fileExtension=".dmg" mimeType="application/x-apple-diskimage" />
      <remove fileExtension=".msi" />
      <mimeMap fileExtension=".msi" mimeType="application/x-msi" />
      <remove fileExtension=".sig" />
      <mimeMap fileExtension=".sig" mimeType="application/octet-stream" />
      <remove fileExtension=".gz" />
      <mimeMap fileExtension=".gz" mimeType="application/gzip" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="62914560" />
      </requestFiltering>
    </security>
  </system.webServer>

  <location path="desktop-updates/stable">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>

  <location path="desktop-updates/beta">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>

  <location path="desktop-updates/releases">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
